In [1]:
import kagglehub
path = kagglehub.dataset_download("yasserh/titanic-dataset")
print("Path to dataset files:", path)

Using Colab cache for faster access to the 'titanic-dataset' dataset.
Path to dataset files: /kaggle/input/titanic-dataset

In [4]:
import os

print(os.listdir(path))

['Titanic-Dataset.csv']

In [5]:
import pandas as pd
import os

file_path = os.path.join(path, "Titanic-Dataset.csv")

df = pd.read_csv(file_path)

In [6]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [11]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [14]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [15]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [18]:
df["Cabin"].value_counts()

Cabin
G6             4
C23 C25 C27    4
B96 B98        4
F2             3
D              3
              ..
E17            1
A24            1
C50            1
B42            1
C148           1
Name: count, Length: 147, dtype: int64

In [48]:
df["Cabin"].mode()

0    B96 B98
1         G6
Name: Cabin, dtype: object

In [21]:
df["Age"].mode()

0    24.0
Name: Age, dtype: float64

In [22]:
df["Fare"]=round(df["Fare"],2)

In [23]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.28,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.92,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.10,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [24]:
df["Age"].value_counts()

Age
24.00    30
22.00    27
18.00    26
28.00    25
30.00    25
         ..
24.50     1
0.67      1
0.42      1
34.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [25]:
import matplotlib.pyplot as plt

In [27]:
df["Age"].isnull().sum()

np.int64(177)

In [35]:
av=round(df["Age"].mean(), 2)
print(av)

29.7

In [36]:
df["Age"].fillna(av, inplace=True)

In [39]:
print(df["Age"].isnull().sum())

0

In [40]:
df["Age"].value_counts()

Age
29.70    177
24.00     30
22.00     27
18.00     26
28.00     25
        ...
24.50      1
0.67       1
0.42       1
34.50      1
74.00      1
Name: count, Length: 89, dtype: int64

In [42]:
df = df[df['Age'] >= 1]
df['Age'].value_counts()

Age
29.7    177
24.0     30
22.0     27
18.0     26
19.0     25
       ...
23.5      1
24.5      1
80.0      1
34.5      1
74.0      1
Name: count, Length: 84, dtype: int64

In [43]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.28,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.92,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.10,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.7,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [45]:
df["Cabin"].value_counts()

Cabin
G6             4
C23 C25 C27    4
B96 B98        4
F2             3
D              3
              ..
E17            1
A24            1
C50            1
B42            1
C148           1
Name: count, Length: 147, dtype: int64

In [50]:
df["Cabin"].fillna("G6", inplace=True)

/tmp/ipython-input-123826129.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Cabin"].fillna("G6", inplace=True)

In [51]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.28,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.92,G6,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.10,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,G6,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,G6,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.7,1,2,W./C. 6607,23.45,G6,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,G6,Q

In [56]:
print(df["Ticket"].isnull().sum())

658

In [57]:
df["Ticket"].value_counts()

Ticket
2.        12
2343       7
2144       6
14879      5
6608       4
          ..
17592      1
2149       1
17590      1
34068      1
392076     1
Name: count, Length: 154, dtype: int64

In [52]:
df['Ticket'] = df['Ticket'].str.split().str[1]

In [53]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,21171,7.25,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,17599,71.28,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,3101282,7.92,G6,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,NaN,53.10,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,NaN,8.05,G6,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,NaN,13.00,G6,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,NaN,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.7,1,2,6607,23.45,G6,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,NaN,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,NaN,7.75,G6,Q

In [55]:
print(df["Ticket"].isnull().sum())

658

In [59]:
df.drop('Ticket', axis=1, inplace=True)

In [60]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.25,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.28,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.92,G6,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.10,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.05,G6,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.00,G6,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.7,1,2,23.45,G6,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,7.75,G6,Q

In [62]:
df['Name'] = df['Name'].str.split(', ').str[1]

In [63]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,Mr. Owen Harris,male,22.0,1,0,7.25,B96 B98,S
1,2,1,1,Mrs. John Bradley (Florence Briggs Thayer),female,38.0,1,0,71.28,C85,C
2,3,1,3,Miss. Laina,female,26.0,0,0,7.92,G6,S
3,4,1,1,Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,53.10,C123,S
4,5,0,3,Mr. William Henry,male,35.0,0,0,8.05,G6,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,Rev. Juozas,male,27.0,0,0,13.00,G6,S
887,888,1,1,Miss. Margaret Edith,female,19.0,0,0,30.00,B42,S
888,889,0,3,"Miss. Catherine Helen ""Carrie""",female,29.7,1,2,23.45,G6,S
889,890,1,1,Mr. Karl Howell,male,26.0,0,0,30.00,C148,C
890,891,0,3,Mr. Patrick,male,32.0,0,0,7.75,G6,Q

In [64]:
df['Name'] = df['Name'].str.replace(r'\s*".*?"', '', regex=True)

In [66]:
df['Name'] = df['Name'].str.replace(r'\s*\(.*?\)', '', regex=True)

In [67]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,Mr. Owen Harris,male,22.0,1,0,7.25,B96 B98,S
1,2,1,1,Mrs. John Bradley,female,38.0,1,0,71.28,C85,C
2,3,1,3,Miss. Laina,female,26.0,0,0,7.92,G6,S
3,4,1,1,Mrs. Jacques Heath,female,35.0,1,0,53.10,C123,S
4,5,0,3,Mr. William Henry,male,35.0,0,0,8.05,G6,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,Rev. Juozas,male,27.0,0,0,13.00,G6,S
887,888,1,1,Miss. Margaret Edith,female,19.0,0,0,30.00,B42,S
888,889,0,3,Miss. Catherine Helen,female,29.7,1,2,23.45,G6,S
889,890,1,1,Mr. Karl Howell,male,26.0,0,0,30.00,C148,C
890,891,0,3,Mr. Patrick,male,32.0,0,0,7.75,G6,Q

In [69]:
print(df["Name"].isnull().sum())

0

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 884 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  884 non-null    int64
 1   Survived     884 non-null    int64
 2   Pclass       884 non-null    int64
 3   Name         884 non-null    object
 4   Sex          884 non-null    object
 5   Age          884 non-null    float64
 6   SibSp        884 non-null    int64
 7   Parch        884 non-null    int64
 8   Fare         884 non-null    float64
 9   Cabin        884 non-null    object
 10  Embarked     882 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 115.2+ KB

In [77]:
df['Age'] = df['Age'].astype(int)
df['Fare'] = df['Fare'].astype(int)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 884 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  884 non-null    int64
 1   Survived     884 non-null    int64
 2   Pclass       884 non-null    int64
 3   Name         884 non-null    object
 4   Sex          884 non-null    object
 5   Age          884 non-null    int64
 6   SibSp        884 non-null    int64
 7   Parch        884 non-null    int64
 8   Fare         884 non-null    int64
 9   Cabin        884 non-null    object
 10  Embarked     882 non-null    object
dtypes: int64(7), object(4)
memory usage: 115.2+ KB